* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  font-family: Arial, bold;
}

header ul {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  gap: 10px;
  padding: 20px;
  background: #aeaeae;
}

header a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.container {
  text-align: center;
  margin-top: 30px;
}

.search {
  margin: 15px 0;
}

input {
  padding: 8px;
  border: none;         
  border-bottom: 1px solid #999999; 
}

button {
  padding: 8px 12px;
  margin-top: 10px;
}

.contatos ul {
  list-style: none;
  margin-top: 15px;
}

.contatos li {
  background: white;
  padding: 10px;
  margin: 5px 0;
}
